<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}">

<head>
    <title>게시물 상세보기</title>
</head>

<!--<body>-->
<!--<h1 th:text="${board.title}"></h1>-->
<!--<div>글쓴이 : <span th:text="${board.name}"></span></div>-->
<!--<div>제목 : <span th:text="${board.title}"></span></div>-->
<!--<div>조회수 : <span th:text="${board.viewCnt}"></span></div>-->
<!--<div>작성일 : <span th:text="${board.regdate}"></span></div>-->
<!--<div>내용 : <span th:text="${board.content}"></span></div>-->

<!--<div><a href="/">목록보기</a></div>-->
<!--&lt;!&ndash; 로그인 하지 않은 상태면 수정하기 ,삭제하기 비활성화 &ndash;&gt;-->
<!--&lt;!&ndash; 로그인한 사용자가 쓴 글인가? &ndash;&gt;-->
<!--<div><a th:href="@{/updateform(boardId=${board.boardId})}">수정하기</a></div>-->
<!--<div><a th:href="@{/delete(boardId=${board.boardId})}">삭제하기</a></div>-->
<!--</body>-->
<!--</html>-->

<div layout:fragment="content">
    <div class="row mt-3">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    게시물 상세보기
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <span class="input-group-text">글쓴이</span>
                        <input type="text" class="form-control" th:value="${board.name}" readonly>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">제목</span>
                        <input type="text" class="form-control" th:value="${board.title}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">내용</span>
                        <input type="text" class="form-control" th:value="${board.content}" readonly>
                    </div>

                    <div class="input-group mb-3">
                        <span class="input-group-text">작성일</span>
                        <input type="text" class="form-control" th:value="${board.regdate}" readonly>
                    </div>

<!--                    <div class="input-group mb-3">-->
<!--                        <span class="input-group-text">ModDate</span>-->
<!--                        <input type="text" class="form-control" th:value="${#temporals.format(dto.modDate, 'yyyy-MM-dd HH:mm:ss')}" readonly>-->
<!--                    </div>-->

                    <div class="my-4">
                        <a th:href="@{/updateform(boardId=${board.boardId})}" class="text-decoration-none">
                            <button type="button" class="btn btn-primary">수정하기</button>
                        </a>
                        <a th:href="@{/delete(boardId=${board.boardId})}" class="text-decoration-none">
                            <button type="button" class="btn btn-secondary">삭제하기</button>
                        </a>
                    </div>


                </div><!--end card body-->



            </div><!--end card-->
        </div><!-- end col-->
    </div><!-- end row-->
</div>


<script layout:fragment="script" th:inline="javascript">



</script>


